name: xcmixin-ci-test

on: 
  workflow_dispatch:
  push:
    branches: [ feature/ci ]
jobs:
  build:
    runs-on: ubuntu-latest
    name: build
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: ls
        run: ls -al